.story-generated-image {
  width: 450px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
}

.image-prompt {
  font-size: 21px;
  line-height: 1.4;
  border: 0.5px solid #1d4289;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: oblique;
}

.rephrase-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 20px;
}
